@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de empleados</h1>
    <p>Para cargar un nuevo empleado diríjase a la solapa Empleado</p>
</div>
